<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:name=".WearApp"
        android:icon="@mipmap/ic_launcher"
        android:label="WearLink"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WearLink">

        <!-- Works without the phone app too: links can be typed or pushed over adb. -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="vless" />
                <data android:scheme="hysteria2" />
                <data android:scheme="hy2" />
                <data android:scheme="hysteria" />
                <data android:scheme="vmess" />
                <data android:scheme="trojan" />
                <data android:scheme="ss" />
                <data android:scheme="tuic" />
                <data android:scheme="anytls" />
            </intent-filter>
        </activity>

        <!-- The tile launches this from the system tile renderer, so it has to be exported here. -->
        <activity
            android:name="dev.wearlink.core.vpn.ToggleActivity"
            android:exported="true"
            tools:replace="android:exported" />

        <service
            android:name=".tile.VpnTileService"
            android:description="@string/tile_description"
            android:exported="true"
            android:icon="@drawable/ic_wearlink"
            android:label="WearLink VPN"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>
            <meta-data
                android:name="androidx.wear.tiles.PREVIEW"
                android:resource="@drawable/tile_preview" />
        </service>

        <service
            android:name=".sync.ImportListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data
                    android:host="*"
                    android:pathPrefix="/wearlink/import"
                    android:scheme="wear" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:path="/wearlink/update"
                    android:scheme="wear" />
            </intent-filter>
        </service>
    </application>
</manifest>
